.Deck {
  text-align: center;
}

.Deck-retrieve {
  padding: 15px;
  background-color: black;
  color: white;
  border-radius: 8px;
  border: none;
  margin: 0 10px;
}

.Deck-retrieve:hover {
  cursor: pointer;
  background-color: #444;
}

.Deck-retrieve:active,
.Deck-retrieve:focus {
  outline: none;
}

.Deck-cardarea {
  margin-top: 80px;
}
